
ion-title{ text-align: center; color: white;}

ion-header{  background-color: #442244
    !important;}

ion-content{
    background-color: #221122 !important;
}

ion-card{  background-color: #221122 !important;}
ion-icon{
    width: 27px;
    height: 27px;
  }