.logo{width: 20%; height: 20%;}

ion-segment-button{color:#FD9927;}
ion-title{ text-align: center;}

ion-header{  background-color: #442244
    !important;}

   
    
    ion-slides{background-color: #221122 !important;}
    ion-slide{background-color: #221122 !important;}
    ion-refresher{color:#FD9927 !important;}
    ion-refresher-content {color:#FD9927 !important;}
ion-content{
    background-color: #221122 !important;
    opacity: 75% !important;
}

.fixed-scroll{
  height:100%!important;
  overflow-y:scroll;
  position:relative;
  ::-webkit-scrollbar {
      display: none !important;
  }
}
::-webkit-scrollbar,
*::-webkit-scrollbar {
display: none;
}

/* la "rayita" que indica la navegación entre slides */
.SwipedTabs-indicatorSegment{
  -webkit-transition: 0s all;
  -moz-transition:  0s all;
  -o-transition:  0s all;
  transition:  0s all;
  transform-origin: top 0 left 0 ;
  height: 2px;
  position: relative;
  top: -2px;
  left: 3px;
  background-color: var(--ion-color-tertiary) !important;
}


ion-slides{background-color: #351b35 !important;}

/* para que el slide ocupe toda la pantalla */
ion-slide.swiper-slide {
  display:block;
  
}

.button-native{
  padding:0px !important;
}
/* para que el slide ocupe toda la pantalla */
ion-slide.swiper-slide {
  display:block;
}
.slides{
  height: 100%;
}
