.logo{width: 20%; height: 20%;};
 
ion-title{ text-align: center; color: white;}

ion-header{  background-color: #442244
    !important;}

ion-content{
    background-color: #221122 !important;
    opacity: 75% !important;
}
label{color:#FD9927;
margin-left: 5%;}
p{color:#FD9927;}


input{width: 90%;
margin-left: 5%;
margin-right: 5%;}
.login{margin-top: -5%;}
.cuenta{margin-left: 5%;}
.botones{padding: 7%;}
.dos{margin-left: 1%;
margin-top: 10%;}
.tres{width: 10%; height:5%;
margin-top: 15%; margin-left: 90%;}